<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mhd.basekit" >
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application>
        <activity android:name=".viewkit.view.webview.MHDWebViewActivity"/>
        <!-- 支付宝接入 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>
</manifest>
